extends ../layout

block stylesheets
    link(rel='stylesheet', href=url.css('admin.css'))

block javascripts
    script(src=url.js('p.admin.js'))

block left-content
    h1.page-title=l.lbl.admin_page_title


mixin menu_item(href, text)
    li
        a(href=href)=text

block right-content
    br
    ul.large-font
        +menu_item(url('admin/master'), l.lbl.admin_menu.master_manage)
        li

            span=l.lbl.user
            ul
                +menu_item(url('admin/user/import'), l.lbl.admin_menu.user_import)
                +menu_item(url('admin/user'), l.lbl.admin_menu.user_manage)
        li

            span=l.lbl.person
            ul
                +menu_item(url('admin/person/import'), l.lbl.admin_menu.person_import)
        +menu_item(url('admin/score_rule'), l.lbl.admin_menu.score_rule)
