extends ../layout
include ../score_rule/_detail

block stylesheets
    link(rel='stylesheet', href=url.css('admin.css'))

block javascripts
    script(src=url.js('p.admin.score_rule.js'))



block upper-content
    include back_to_admin

block left-content
    h1.page-title=l.lbl.admin_menu.score_rule
    p.lead=l.lead.score_rule

block right-content
    form#score_rule-form(action=url('/api/score_rule/save'), method='post')
        input(type='hidden', value=scoreRule._id, name='_id',)
        a#score_rule-edit-btn.float-right(href='javascript:void(0)')=l.btn.edit
        +person_score_rule_table_basic(scoreRule.person, person_keys.basic_data_keys)
        +person_score_rule_table_extra(scoreRule.person, person_keys.extra_data_keys)
        br.clear
        input#score_rule-save-btn.wide-btn.btn(type='submit', value=l.btn.save)