extends ../layout
include ../csv/_import_forms

block stylesheets
    link(rel='stylesheet', href=url.css('admin.css'))

block javascripts
    script(src=url.js('validation/v.csv.js'))
    script(src=url.js('p.admin.user.import.js'))

block upper-content
    include back_to_admin

block left-content
    h1.page-title=l.lbl.admin_menu.user_import

    #preview-section.positioned
        #err-preview.preview(data-headers=csv_headers).text-left
            p.large-err=l.msg.invalid_csv
            br
            #err-preview-sheet.preview-sheet
            br
            a.preview-hide-btn.float-right.btn.large-btn(
            href='javascript:void(0)')=l.btn.modify
        #confirm-preview.preview


block right-content
    #import-section
        br
        #import-way-tabs.tab-container
            a#text-import-tab.tab(href='#text-import-div')=l.lbl.import_ways.text
            a#file-import-tab.tab(href='#file-import-div')=l.lbl.import_ways.file
        br.clear
        #import-way-tab-contents
            .tab-content#text-import-div
                +import_form_by_text(url('/api/csv/user_import/text')))

            .tab-content#file-import-div
                +import_form_by_file(url('/api/csv/user_import/file')))
