mixin text-tr(key, data)
    tr
        th
            label(for=key+'-input')=l.lbl[key]
        td
            input(type='text', name=key, value=data[key], id=key+'-input', data-role='editable-text')

mixin textarea-tr(key, data)
    tr
        th
            label(for=key+'-input')=l.lbl[key]
        td
            textarea(name=key,id=key+'-input', data-role='editable-text')=data[key]

mixin radio-tr(key, data, choices)
    tr
        th
            label=l.lbl[key]
        td
            each choice in choices
                input(name=key, type='radio',value=choice.value, checked=data[key]==choice.value, id="#{key}-input-#{choice.value}")
                label.checkable-label(
                    for="#{key}-input-#{choice.value}"
                )=l.lbl[choice.label]

mixin person_basic_table(person)
    br

    table.wide-table
        caption=l.lbl.personal_basic
        thead
        tbody
            tr
                th=l.lbl.company
                td
                    a(href=url("/chart/sheet/"+person.company_id))=person.company_name

            each basic_data_key in basic_data_keys
                +text-tr(basic_data_key, person)

mixin person_extra_table(person)
    table.wide-table
        caption=l.lbl.personal_extra
        thead
        tbody
            +text-tr('live_at', person)
            +text-tr('favorite_food', person)
            +radio-tr('single', person,[
                {label:l.lbl.true,value:'true'},
                {label:l.lbl.false,value:'false'}
            ])
            +radio-tr('drinks', person,[
                {label:l.lbl.true,value:'true'},
                {label:l.lbl.false,value:'false'}
            ])
            +radio-tr('smokes', person,[
                {label:l.lbl.true,value:'true'},
                {label:l.lbl.false,value:'false'}
            ])
            +textarea-tr('free_word', person)

