mixin text-tr(key, data)
    tr
        th
            label(for=key+'-input')=l.lbl[key]
        td
            input(type='text', name=key, value=data[key], id=key+'-input', data-role='editable-text')

mixin textarea-tr(key, data)
    tr
        th
            label(for=key+'-input')=l.lbl[key]
        td
            textarea(name=key,id=key+'-input', data-role='editable-text')=data[key]

mixin radio-tr(key, data, choices)
    tr
        th
            label=l.lbl[key]
        td
            each choice in choices
                input(name=key, type='radio',value=choice.value, checked=data[key]==choice.value, id="#{key}-input-#{choice.value}")
                label.checkable-label(
                    for="#{key}-input-#{choice.value}"
                )=l.lbl[choice.label]

mixin person_basic_table(person)
    br

    table.wide-table
        caption=l.lbl.personal_basic
        thead
        tbody
            tr
                th=l.lbl.company
                td
                    a(href=url("/chart/sheet/"+person.company_id))=person.company_name

            each basic_data_key in basic_data_keys
                +text-tr(basic_data_key, person)


mixin bool_radio_tr(key, data)
    +radio-tr(key, data,[
        {label:l.lbl.true,value:'true'},
        {label:l.lbl.false,value:'false'}
    ])

mixin person_extra_tr(key, data)
    case key
        when 'single'
            +bool_radio_tr(key, data)
        when 'drinks'
            +bool_radio_tr(key, data)
        when 'smokes'
            +bool_radio_tr(key, data)
        when 'free_word'
            +textarea-tr(key, person)
        default
            +text-tr(key, data)

mixin person_extra_table(person)
    table.wide-table
        caption=l.lbl.personal_extra
        thead
        tbody
            each extra_data_key in extra_data_keys
                +person_extra_tr(extra_data_key, person)


