include mixins/_nav
include mixins/_ie
include mixins/_alert
include mixins/_footer

doctype 5
html
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width")
        title=l.app.name

        link(rel='shortcut icon', href=url('/fav.ico'))
        link(rel="apple-touch-icon", href=url('/touch.ico'))
        link(rel='stylesheet', href=url.css("base.css"))

        +ie_scripts()

        block stylesheets


        if NODE_ENV == 'production'
            script(src=url.js('lib.min.js'))
        else
            script(src=url.js('lib/tek.js'))
            script(src=url.js('lib/jquery.js'))
            script(src=url.js('lib/jquery-ui.custom.js'))
            script(src=url.js('lib/spin.js'))
            script(src=url.js('lib/handlebars.runtime.min.js'))
            script(src=url.js('lib/tek.view.js'))
            script(src=url.js('lib/revalidator.js'))
            script(src=url.js('lib/one-color.js'))


        script(src=url.js('locale/l.#{lang}.js'))
        script.
            window.ctx = "#{context}";
        script(src=url.js('templates.js'))
        script(src=url.js('p.js'))
        script(src=url.js('validation/v.js'))


        block javascripts

        block head


    body
        header
            a(href=url('/')).logo=l.app.name
            +main_nav(sign_user)

        article#main

            +alert(err_alert, 'err-alert')
            +alert(info_alert, 'info-alert')

            block upper-content

            .book#book.positioned
                +suv_nav(sign_user, 'sub-nav')

                .book-page.book-page-left#left-page
                    .book-page-inner
                        block left-content

                .book-page.book-page-right#right-page
                    .book-page-inner
                        block right-content
                #book-belt
                br.clear

            br.clear

            block downer-content

        br.clear

        hr
        +footer()