mixin user_detail_form(user, teams)
    form#user-detail-form(action=url('/api/user/save'), method='post', autocomplete='off').positioned
        input(type='hidden', name='_id', value=user._id)
        input(type='hidden', name='_vr', value=user._vr)
        .stick-right.stick-top
            a#user-destroy-btn(href='javascript:void(0)',
                data-destroy=url('/api/user/destroy')
            ).link-btn
                i.icon.icon-trash
                span=l.btn.remove
            a#user-detail-edit-btn(href='javascript:void(0)').link-btn
                i.icon.icon-pencil
                span=l.btn.edit
        table.wide-table
            caption=l.lbl.account
            tbody.hover-show-parent
                tr
                    th
                        label.block-label(for=username-input)=l.lbl.username
                    td
                        input(type='text', name='username', value=user.username, id='username-input', data-role='editable-text')
                tr
                    th=l.lbl.password
                    td
                        span=l.lbl.password_mask
                        a#password_change-btn.hover-show-child.small.float-right(href='javascript:void(0)')=l.btn.password_change
                tr
                    th
                        label.block-label=l.lbl.role
                    td
                        case sign_user && sign_user.role
                            when 'admin'
                                select(name='role')
                                    option(value='')=l.lbl.user_roles.none
                                    option(value='admin', selected=(user.role=='admin'))=l.lbl.user_roles.admin
                            default
                                span=l.lbl.user_roles[user.role || 'none']


        br
        table.wide-table
            caption=l.lbl.personal
            tbody
                tr
                    th
                        label(for='real_name-input')=l.lbl.real_name
                    td
                        input(type='text', name='real_name', value=user.real_name,
                            id='real_name-input', placeholder=l.plh.real_name, data-role='editable-text')
                tr
                    th
                        label(for='email-input')=l.lbl.email
                    td
                        input.wide-input(type='text', name='text', value=user.email, id='email-input', data-role='editable-text')

                tr
                    th
                        label(for=team-input)=l.lbl.team
                    td
                        select(name='team_id', id='team-input')
                            each team in teams
                                option(value=team._id, selected=team._id==user.team_id)=team.name



        br
        input#user-detail-save-btn.btn.wide-btn(type='submit', value=l.btn.save)