mixin user_detail_form(user, teams)
    form#user-detail-form(action=url('/api/user/save'), method='post', autocomplete='off').positioned
        input(type='hidden', name='_id', value=user._id)
        input(type='hidden', name='_vr', value=user._vr)

        a#user-detail-edit-btn.stick-right.stick-top(href='javascript:void(0)')=l.btn.edit
        table.wide-table
            caption=l.lbl.account
            tbody
                tr
                    th
                        label.block-label(for=username-input)=l.lbl.username
                    td
                        input(type='text', name='username', value=user.username, id='username-input', data-role='editable-text')
                tr
                    th=l.lbl.password
                    td
                        span=l.lbl.password_mask
                        a.small.float-right(href='#')=l.btn.password_change
                tr
                    th
                        label.block-label=l.lbl.role
                    td
                        span=l.lbl.user_roles[user.role || 'none']
        br
        table.wide-table
            caption=l.lbl.personal
            tbody
                tr
                    th
                        label(for='real_name-input')=l.lbl.real_name
                    td
                        input(type='text', name='real_name', value=user.real_name,
                            id='real_name-input', placeholder=l.plh.real_name, data-role='editable-text')
                tr
                    th
                        label(for='email-input')=l.lbl.email
                    td
                        input.wide-input(type='text', name='text', value=user.email, id='email-input', data-role='editable-text')

                tr
                    th
                        label(for=team-input)=l.lbl.team
                    td
                        select(name='team_id', id='team-input')
                            each team in teams
                                option(value=team._id, selected=team._id==user.team_id)=team.name



        br
        input#user-detail-save-btn.btn.wide-btn(type='submit', value=l.btn.save)