mixin user_detail_form(user, teams)
    form#user-detail-form(action=url('/api/user/save'), method='post', autocomplete='off').positioned
        input(type='hidden', name='_id', value=user._id)
        input(type='hidden', name='_vr', value=user._vr)

        a#user-detail-edit-btn.stick-right.stick-top(href='javascript:void(0)')=l.btn.edit
        table.wide-table
            caption=l.lbl.account
            tbody
                tr
                    th
                        label.block-label(for=username-input)=l.lbl.username
                    td
                        input(type='text', name='username', value=user.username, id='username-input', data-role='editable-text')

        br
        table.wide-table
            caption=l.lbl.personal
            tbody
                tr
                    th
                        label(for='first_name-input')=l.lbl.actual_name
                    td
                        span.filed
                            input(type='text', name='first_name',
                                value=user.first_name, id='first_name-input', placeholder=l.plh.first_name, data-role='editable-text')
                        span.filed
                            input(type='text', name='last_name', value=user.last_name,
                                id='last_name-input', placeholder=l.plh.last_name, data-role='editable-text')
                tr
                    th
                        label(for='email-input')=l.lbl.email
                    td
                        input.wide-input(type='text', name='text', value=user.email, id='email-input', data-role='editable-text')

                tr
                    th
                        label(for=team-input)=l.lbl.team
                    td
                        select(name='team_id', id='team-input')
                            each team in teams
                                option(value=team._id, selected=team._id==user.team_id)=team.name



        br
        input#user-detail-save-btn.btn.wide-btn(type='submit', value=l.btn.save)