mixin person_update_history_table(person_update)
    table#person_update-table.wide-table
        caption=l.lbl.person_update_history.caption
        thead
            tr
                th=l.lbl.person_update_history.date
                th=l.lbl.person_update_history.property
                th=l.lbl.person_update_history.from
                th=l.lbl.person_update_history.to
                th=l.lbl.person_update_history.user
        tbody
            if person_update.changes
                each change in person_update.changes
                    tr
                        th=change.date
                        td=change.property
                        td=change.from
                        td=change.to
                        td=change.username