extends ../layout

block stylesheets
    link(rel='stylesheet', href=url.css('report.css'))

block javascripts
    script(src=url.js('lib/Chart.js'))
    script(src=url.js('p.report.js'))
    script(src=url.js('data/d.report.score.js')+'?t=#{time}')


mixin head_th(key)
    th
        label=l.lbl[key]

block left-content
    h1.page-title=l.lbl.score
    section#score-list-section
        table#score-table.wide-table
            thead
                tr
                    +head_th('rank')
                    +head_th('user')
                    +head_th('score')
                    +head_th('team')
            tbody

block right-content
    section#score-chart-section
        br
        h1.text-center=l.lbl.top10
        form#score-chart-condition-form
            input(type='hidden',name='max_count', value='10')
            input(type='hidden', name='animation', value='true')
        canvas#score-chart-canvas
