extends ../layout

block stylesheets
    link(rel='stylesheet', href=url.css('report.css'))

block javascripts
    script(src=url.js('lib/Chart.js'))
    script(src=url.js('p.report.js'))
    script(src=url.js('data/d.report.score.js')+'?t=#{time}')


mixin head_th(key)
    th
        label=l.lbl[key]

block left-content
    h1.page-title=l.lbl.score
    section#score-list-section
        table#score-table.wide-table
            thead
                tr
                    +head_th('rank')
                    +head_th('user')
                    +head_th('score')
                    +head_th('team')
            tbody

block right-content
    section#score-chart-section
        br
        h1.text-center=l.lbl.report_charts.top10
        canvas#top10-chart-canvas.score-chart-canvas(
            data-fillcolor='rgba(255, 165, 0, 0.56)',
            data-strockcolor='rgba(255, 165, 0, 1)')
        br
        br
        h1.text-center=l.lbl.report_charts.team
        div.positioned
            canvas#team-chart-canvas.score-chart-canvas.float-left(
            data-basecolor='rgba(80, 243, 100, 0.9)')
            br.clear
