section.list-section#chart-list-section
    form#chart-list-form.positioned.block-list-header(
    data-role='search-form',action=url('/api/chart.json'),method='get')
        label.float-left.block-list-title=l.lbl.chart
        input(type='search', name='search_word', results).float-right
        input(type='hidden', name='skip', value='0')
        input(type='hidden', name='limit', value='500')
        input.btn(type='submit')=l.lbl.search
        br.clear
    ul#chart_list.block-list


    a.add-btn.wide-btn#chart-add-btn(
    href='javascript:void(0)', data-role='add-btn')
        | #{l.btn.new}