extends ../layout
include ../mixins/_back_link

block stylesheets
    link(rel='stylesheet', href=url.css('chart.css'))

block javascripts
    script(src=url.js('p.chart.js'))

block upper-content
    +back_link(l.btn.company_list, url('/'))

block left-content
    - var key,sheet_keys='department,post,mission,birthday,birthplace,graduated_from,years_of_service,join_year,hobby'.split(',')
    h1.page-title=company.name
    br

    #filter-section
        #filter-select-tabs
            each key in sheet_keys
                a.tab=l.lbl[key]
        br.clear
        .tab-content
    a.float-left#add-filter-btn(href='javascript:void(0)')=l.btn.add_filter
    br.clear
    table#sheet-table
        thead
            tr
                th
                each key,i in sheet_keys
                    th.sortable-th(data-col=i)
                        label=l.lbl[key]

        tbody
            each person in persons
                tr
                    th
                        a(href=url("/person/#{person._id}"))=person.name
                    for key,i in sheet_keys
                        td(class='col-'+i)=person[key]

    from#sheet-search-form.inline-form.stick-right.stick-top(
            action='',
            style='right:0;'
        )
        input(type='search', results, name='search_word')

