extends ../layout
include ../mixins/_back_link

block stylesheets
    link(rel='stylesheet', href=url.css('chart.css'))

block javascripts
    script(src=url.js('p.chart.js'))

block upper-content
    +back_link(l.btn.company_list, url('/'))

    #filter-select-section.stick-top.paper(style='display:none')
        .paper-content
            .section-content
    br.clear

block left-content
    - var key,sheet_keys='department,post,mission,birthday,birthplace,graduated_from,years_of_service,join_year,hobby'.split(',')
    h1.page-title=company.name
    br


    br
    table#sheet-table
        colgroup.sheet-colgroup
            col
            each key,i in sheet_keys
                col(data-col=i, data-key=key,class='col-'+i)

        thead.sheet-thead
            tr
                th
                each key,i in sheet_keys
                    th(data-col=i, data-key=key, class='sortable-th col-'+i)
                        .positioned
                            a.filter-edit-btn="F"
                            a.filter-add-btn="+"
                            label=l.lbl[key]

        tbody.sheet-tbody
            each person in persons
                tr
                    th
                        a(href=url("/person/#{person._id}"))=person.name
                    for key,i in sheet_keys
                        td(class='sheet-cell col-'+i, data-col=i)=person[key]

    from#sheet-search-form.inline-form.stick-right.stick-top(
            action='',
            style='right:0;'
        )
        input(type='search', results, name='search_word')

