mixin main_nav(sign_user)
    nav#main-nav
        if sign_user
            a.nav-item(href=url('/mypage'))=sign_user.username
            form#signout-form.inline-form(method='post',action=url('/signout'))
                a.nav-item(href='#', onclick="$('#signout-form').submit();")=l.lbl.signout
        else
            if needs_sign
                a#sign-link.nav-item(href=url('/sign'))=l.lbl.sign

mixin suv_nav(sign_user)
    nav#sub-nav
        a.nav-item(href='/', data-key='company')=l.lbl.sub_menu.company
        a.nav-item(href='/report', data-key='report')=l.lbl.sub_menu.report
        case sign_user.role
            when 'admin'
                a.nav-item(href=url('/admin'), data-key='admin')=l.lbl.admin