<li class="user-list-item positioned selectable-list-item">
    <a href="javascript:void(0)">
        <form class="inline-form" action="{{ctx}}/api/user/save"
              method="post" name="edit-form">
            <input type="hidden" value="{{_id}}" name="_id"/>
            <input type="hidden" value="{{_vr}}" name="_vr"/>
            <input type="text" data-role="editable-text" name="username" value="{{username}}" placeholder="username"/>
            <input type="text" data-role="editable-text" name="real_name" value="{{real_name}}" placeholder="real name"/>
        </form>
        <span class="detail-arrow float-right"></span>
    </a>
</li>