section.list-section#company-list-section
    form#company-list-form.positioned.block-list-header(
    data-role='search-form',action=url('/api/company.json'),method='get')
        input(type='search', name='search_word', results).float-right
        input(type='hidden', name='skip', value='0')
        input(type='hidden', name='limit', value='500')
        input.btn(type='submit')=l.lbl.search
        br.clear
    ul#company_list.block-list


    a.add-btn.wide-btn#company-add-btn(
    href='javascript:void(0)', data-role='add-btn')
        | #{l.btn.new}