mixin person_score_rule_tr(data, key)
    tr
        th
            label(for="person_score_#{key}-input")=(l.lbl[key] || key)
        td
            input.text-right(id="person_score_#{key}-input",
            min=0,
            max=100,
            type='number',
            name="person.#{key}",
                data-role='editable-text',
            value=data && data[key])

mixin person_score_rule_table_basic(data, basic_data_keys)
    table.float-left.float-table
        caption=l.lbl.personal_basic
        thead
        tbody
            each basic_data_key in basic_data_keys
                +person_score_rule_tr(data,basic_data_key)
mixin person_score_rule_table_extra(data, extra_data_keys)
    table.float-left.float-table
        caption=l.lbl.personal_extra
        thead
        tbody
            each extra_data_key in extra_data_keys
                +person_score_rule_tr(data,extra_data_key)
