mixin person_score_rule_tr(data, key)
    tr
        th
            label(for="person_score_#{key}-input")=(l.lbl[key] || key)
        td
            input(id="person_score_#{key}-input", type='number', name="person.#{key}", value=data && data[key])

mixin person_score_rule_table_basic(data, basic_data_keys)
    table.wide-table
        caption=l.lbl.personal_basic
        thead
        tbody
            each basic_data_key in basic_data_keys
                +person_score_rule_tr(data,basic_data_key)
mixin person_score_rule_table_extra(data, basic_data_keys)
    table.wide-table
        caption=l.lbl.personal_extra
        thead
        tbody